*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: none;
}

html {
  // This defines what 1rem is

  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12px
  }

  // default
  font-size: 62.5%; // 1rem = 10px
  
  @include respond(tab-land) {
    font-size: 56.25%; // 1rem = 9px
  }
  @include respond(tab-port) {
    font-size: 50%; // 1rem = 8px
  }
}

body {
  box-sizing: border-box;
  background: $colorMainBgr;
  color: $colorMainText;
  font-family: $fontFamily;
  line-height: 1.8rem;
  font-weight: $fontWeight_Thin;
  overflow: hidden;
}

input,
select,
button,
textarea {
  -webkit-appearance: none;
  border: 0;
  padding: .6rem .7rem;
  border-radius: .2rem;
}

button,
input[type="submit"] {
  background: $colorBtnBgr;
  color: $colorBtnText;
  padding: .7rem 1.2rem;
  cursor: pointer;

  @include inset-when-pressed();
}