$colorMainBgr: #181818;
$colorMainText: #fff;
$colorBtnBgr: #0191f7;
$colorBtnText: #fff;
$colorError: #8e4947;

$fontSize: 1.3rem;
$fontFamily: system, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

$fontWeight_Thin: 300;